// Переменные, микс-ины.
$f-headings: 'PT Serif', serif;
$f-text: 'Lora', serif;

$c-text: #333;

$c-blue: #002c5a;
$c-light-blue: #1b8fc1;
$c-red: #830000;
$c-link: #1791e0;
$c-link-hover: #0f6daa;
$c-light-link: #dbe2ea;
$c-white: #fff;
$c-white-blue: #aec6df;

$c-light-gray: #f9f9f9;


